[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://github.com/filecoin-project/filecoin-ffi.git
[submodule "extern/fil-blst"]
	path = extern/fil-blst
	url = https://github.com/filecoin-project/fil-blst.git
[submodule "extern/go-ipfs"]
	path = extern/go-ipfs
	url = https://github.com/tchardin/go-ipfs.git
